*{
    padding: 0;
    margin: 0;
}
body{
    background: rgb(247, 247, 247);
    overflow-x: hidden;
}
header{
    width: 100%;
    background: rgb(254, 254, 254);
}
.header-content{
    width:100%;
    height: 45px;
    margin: 0 auto;
    padding-bottom: 15px;
}
.header-left{
    width: 8%;
    float: left;
    margin-top: 5px;
    text-align: center;
}
.header-center{
    width: 80%;
    height: 35px;
    float: left;
    background:rgb(247,247,247);
    margin-top: 5px;
    text-align: center;
    border-radius: 30px;
    color: rgb(209,209,209);
    border: 0;
    margin-left: 8px;
}
.header-right{
    width: 8%;
    float: right;
    margin-top: 5px;
    text-align: center;
}
.nav{
    width: 100%;
    background: rgb(254, 254, 254);
    }
.nav-content{
    width: 210%;
    height: 30px;
    border-bottom: 1px solid rgb(250, 250, 250);
    padding-bottom: 10px;
}
.nav-mode-1{
    float: left;
    margin: 10px 15px;
    border-bottom: 1px solid rgb(254, 68, 65);
    color: rgb(254, 68, 65);
    font-weight: 600;
    padding-bottom: 9px;
}
.nav-mode{
    float: left;
    margin: 10px 15px;
    font-weight: 600;
    font-size: 15px;
}
.body-mode{
    width: 100%;
    margin-bottom: 10px;
    background: rgb(254,254, 254);
}
.body-content{
    width: 95%;
    margin: 0 auto;
    padding-top: 10px;
    height: 290px;
    overflow: hidden;
    border-bottom: 1px solid rgb(236,236,236);
}
.body-content-top{
    margin: 0 auto;
    overflow: hidden;
}
.body-content-introduce{
    width: 100%;
    height: 66px;
}
.body-content-img{
    border-radius: 14px;
    max-width: 395px;
    max-height: 225px;
}
.body-content-img-1{
    border-radius: 14px;
    max-height: 225px;
    width: 100%;
}
.body-content-introduce{
    position: relative;
}
.body-content-h4-1{
    float: left;
    width: 86%;
}
.body-content-span1{
    position: absolute;
    top: 3px;
    right: 0;
}
.body-content2{
    width: 100%;
    height: 50px;
    position: relative;
}
.body-content2-span2{
    position: absolute;
    top: 5px;
    left: 5px;
}
.ming{
    position: absolute;
    left: 50px;
    top: 11px;
}
.body-content2-span3{
    position: absolute;
    top: 7px;
    width: 35px;
    height: 30px;
    right: 150px;
}
.body-content-2-img2{
    width: 45px;
    height: 30px;
}
.body-content2-span4{
    position: absolute;
    top: 7px;
    right: 80px;
    width: 30px;height: 30px;
}
.body-content-2-img3{
    width: 40px;
    height: 30px;
}
.body-content2-span5{
    position: absolute;
    top: 11px;
    right:7px;
    width: 30px;
    height: 30px;
}
.body-content-2-img4{
    width: 20px;
    height: 25px;
}

footer{
    position: fixed;
    bottom: 0;
    background: rgb(248,248,248);
    width: 100%;
    height: 50px;
}
.footer-mode{
    width: 20%;
    height: 50px;
    float: left;
    text-align: center;
}
.footer-content-mode{
    margin: 0 auto;
    height: 60px;
    width: 36px;
}
.footer-content-img-mode{
    width: 30px;
    height: 25px;
    margin-top: 3px;
}
.footer-content-h4-mode{
    font-size: 12px;
    color :rgb(254,52,39);
}
.footer-content-h4-mode2{
    font-size: 12px;
    color: rgb(170,170,170); 
}
.response{
    width: 100%;
    height: 30px;
    margin-top: 10px;
}
.zan{
    float: left;
    width: 20%;
    margin-left: 25px;
    margin-top: 2px;
}
.lun{
    float: left;
    width: 20%;
    margin-left: 10px;
    line-height: 28px;
}
.fen{
    float:right;
    margin-right: 10px;
}
.ps1{
    width:137px; 
    height:165px;
    margin: 0 auto;
}
.ps2{
    width: 415px;
    height: 225px;
    margin: 0 auto;
}